@model List<Propiedade>

<h3 class="text-center">Mis Propiedades Publicadas</h3>
@{
    if (Model != null && Model.Count > 0)
    {
        foreach (var p in Model)
        {
            var primeraImagen = p.Imagenes.FirstOrDefault();
            if (primeraImagen != null)
            {
                <div class="container d-flex flex-row-reverse justify-content-end">
                    <div>
                        <a href="@Url.Action("Eliminar", "Propiedades", new { id = p.IdPropiedad})" class="btn btn-success @(p.Estado == "D" ? "disabled" : "") ms-3">Eliminar</a>
                    </div>
                    <div class="card" style="width: 18rem;">
                        @{
                            var base64 = Convert.ToBase64String(primeraImagen.Imagen);
                            var imgSrc = $"data:image/jpeg;base64,{base64}";
                        }
                        <img src="@imgSrc" alt="Imagen de la propiedad" style="height:auto; width:100%" />
                        <div class="card-body">
                            <h5 class="card-title">@p.Titulo</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="@Url.Action("Editar", "Propiedades", new { id = p.IdPropiedad })" class="btn btn-info @(p.Estado == "D" ? "disabled" : "")">Editar</a>
                            @if (p.Estado == "H")
                            {
                                <a href="@Url.Action("Pausar", "Propiedades", new { id = p.IdPropiedad, op = 1 })" class="btn btn-warning">Pausar Publicación</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Pausar", "Propiedades", new { id = p.IdPropiedad, op = 2 })" class="btn btn-warning">Activar Publicación</a>
                            }

                            @if (p.Duda.Count > 0)
                            {
                                <a href="@Url.Action("Contactar", "Busqueda", new { idPropiedad = p.IdPropiedad})" class="btn btn-secondary mt-2 @(p.Estado == "D" ? "disabled" : "")">Preguntas</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div>Aun no hay publicaciones hechas</div>
    }
}