@model PROYECTOISW.Models.Propiedade
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROYECTOISW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROYECTOISW.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="tarjeta">
        <h2>@Model.Titulo</h2>
        <div class="descripcion">
            <h4>Descripción</h4>
            <p>@Model.Descripcion</p>
        </div>
        <div class="tipo">
            <h4>Tipo de propiedad</h4>
            <p>@Model.TipoPropiedad</p>
        </div>
        <div class="superficie">
            <h4>Superficie</h4>
            <p>@Model.Superficie</p>
        </div>
        <div class="numeroh">
            <h4>Número de Habitaciones</h4>
            <p>@Model.NumeroHabitaciones</p>
        </div>
        <div class="numerob">
            <h4>Número de Baños</h4>
            <p>@Model.NumeroBaños</p>
        </div>
        <div class="servicios">
            <h4>Servicios Incluidos</h4>
            <p>@Model.Servicios</p>
        </div>
        <div class="descripcion">
            <h4>Descripción</h4>
            <p>@Model.Descripcion</p>
        </div>
        <div class="distancia">
            <h4>Distancia a ESIME culhuácan</h4>
            <p>@Model.Distancia</p>
        </div>
        <div class="condiciones">
            <h4>Condiciones Especiales</h4>
            <p>@Model.CondicionesEspeciales</p>
        </div>
        <!--Mostrar las imagenes-->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                @{
                    int a = 0;
                    foreach (var i in Model.Imagenes)
                    {
                        var base64 = Convert.ToBase64String(i.Imagen);
                        var imgSrc = $"data:image/jpeg;base64,{base64}";
                        <div class="carousel-item @(a == 0 ? "active" : "") ">

                            <img src="@imgSrc" class="d-block w-100" alt="...">
                        </div>
                        a++;
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <a href="#" id="contactar-btn" class="btn btn-success">Contactar a Propietario</a>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Contacto con el propietario</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Botones de contactar y Rentar-->
      @*   <a href="@Url.Action("Contactar","Propiedades", new { idUser = Model.IdUsuario, idPropiedad = Model.IdPropiedad})" class="btn btn-success">Contactar a Propietario</a> *@
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            $('#contactar-btn').click(function(event) {
                event.preventDefault(); // Evita que el enlace redirija o recargue la página

                $.ajax({
                    url: '@Url.Action("Contactar", "Propiedades")',
                    type: 'GET',
                    data: {
                        idUser: '@Model.IdUsuario',
                        idPropiedad: '@Model.IdPropiedad'
                    },
                    success: function(response) {
                        // Actualiza el contenido del modal con el mensaje de éxito
                        $('#staticBackdrop .modal-body').text('Se ha enviado una notificación al propietario con tus datos. Espera a que el propietario se contacte contigo.');
                        // Muestra el modal
                        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
                        myModal.show();
                    },
                    error: function(xhr, status, error) {
                        // Manejo de errores
                        alert('Ocurrió un error al enviar el correo');
                    }
                });
            });
        });
    </script>
</body>
</html>
